<header th:fragment="header" class="header">
    <div class="header__inner">
        <a class="header__logo" th:href="@{/}" aria-label="RepoBoard 홈">
            <img class="header__logo-icon" th:src="@{/images/logo.svg}" alt="메인으로 돌아가기" />
            <strong class="header__brand">RepoBoard</strong>
        </a>

        <div class="header__menu-mobile">
            <button class="header__menu-button" id="searchToggle" aria-label="검색 열기">🔍</button>
            <button class="header__menu-button" id="menuToggle" aria-label="메뉴 열기">☰</button>
        </div>

        <form id="headerSearchForm" th:action="@{/search}" method="Get" class="header__search" >
            <select name="type" class="header__search-type">
                <option value="repositories" selected>Repositories</option>
                <option value="users">Users</option>
            </select>
            <input class="header__search-input"
                   name="q"
                   type="search"
                   placeholder="레포지토리, 사용자, 태그 검색…"
                   aria-label="검색" />
        </form>

        <div class="header__nav">
            <a class="header__btn header__btn--ghost" th:href="@{/}">탐색</a>
            <div class="header__login" th:if="${user != null}">
                <div class="header__user" data-menu-root>
                    <button class="header__user-btn"
                            type="button"
                            aria-haspopup="menu"
                            aria-expanded="false"
                            data-menu-button>
                        <img class="header__avatar"
                             th:src="${user.profile != null ? user.profile.githubAvatarUrl : '/images/github.svg'}"
                             alt="프로필 이미지" />
                        <span class="header__user-name" >사용자</span>
                        <span class="header__chevron" aria-hidden="true">▾</span>
                    </button>

                    <div class="header__menu" role="menu" hidden data-menu>
                        <a role="menuitem" class="header__menu-item"
                           th:href="@{/users/profiles}"
                           >내 프로필</a>

                        <a role="menuitem" class="header__menu-item"
                           th:href="@{/users/saved/repos}"
                           >저장한 레포</a>

                        <a role="menuitem" class="header__menu-item"
                           th:href="@{/users/settings}"
                           >설정</a>

                        <a role="menuitem" class="header__menu-item"
                           th:if="${user != null and user.role.name() == 'ROLE_ADMIN'}"
                           th:href="@{/admin}"
                          >관리자</a>

                        <div class="header__menu-sep" role="separator"></div>

                        <a role="menuitem" class="header__menu-item"
                           >채팅하기</a>

                        <form th:action="@{/logout}" method="post">
                            <button type="submit" role="menuitem" class="header__menu-item header__menu-item--danger">
                                로그아웃
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="header__unLogin" th:if="${user == null}">
                <a class="header__btn header__btn--primary" th:href="@{/users/login}">로그인</a>
                <a class="header__btn header__btn--ghost" th:href="@{/users/signup}">회원가입</a>
            </div>
        </div>

        <div id="mobileMenu" class="header__mobile-menu" >

            <div th:if="${user == null}">
                <a class="header__btn header__btn--primary" th:href="@{/users/login}">로그인</a>
                <a class="header__btn header__btn--ghost" th:href="@{/users/signup}">회원가입</a>
            </div>

            <div class="header__mobile-menu-items" th:if="${user != null}">
                <a th:href="@{/users/profiles}" class="header__btn header__btn--ghost">내 프로필</a>
                <a th:href="@{/users/saved/repos}" class="header__btn header__btn--ghost">저장한 레포</a>
                <a th:href="@{/users/settings}" class="header__btn header__btn--ghost">설정</a>
                <a th:if="${user.role.name() == 'ROLE_ADMIN'}" th:href="@{/admin}" class="header__btn header__btn--ghost">관리자</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="header__btn header__btn--ghost header__menu-item--danger">로그아웃</button>
                </form>
            </div>
        </div>
    </div>
    <script defer th:src="@{/js/header.js}"></script>
</header>