<th:block th:fragment="common">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" th:href="@{/images/logo-favicon.svg}" />
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}" />
</th:block>

<th:block th:fragment="og(ogTitle, ogDesc, ogUrl)">
    <meta name="description" th:content="${ogDesc}" />
    <link rel="canonical" th:href="${ogUrl}" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="RepoBoard" />
    <meta property="og:title" th:content="${ogTitle}" />
    <meta property="og:description" th:content="${ogDesc}" />
    <meta property="og:url" th:content="${ogUrl}" />
    <meta property="og:image" th:content="@{/images/og_image.png}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" th:content="${ogTitle}" />
    <meta name="twitter:description" th:content="${ogDesc}" />
    <meta name="twitter:image" th:content="@{/images/og_image.png}" />
</th:block>